{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Zanjabeels</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  
  
  
  <link href="/static/assets/img/favicon1.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon1.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->

  <link href="/static/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/css/datepicker.min.css">


    <link rel="stylesheet" href="/static/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/assets/css/masonry-1.css" />

  </head>

  <body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope-fill"></i><a href="mailto:contact@example.com">info@example.com</a>
        <i class="bi bi-phone-fill phone-icon"></i> +1 5589 55488 55
      </div>
      <div class="social-links d-none d-md-block">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section>
  <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/">Zanjabeels</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!--  <a href="index.html" class="logo me-auto"><img src="assets/img/apple-touch-icon1.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/services">Services</a></li>
          <li><a class="nav-link scrollto" href="/Resources">Resources</a></li>
          <li><a class="nav-link scrollto" href="/UploadData">UploadData</a></li>
          <li><a class="nav-link scrollto" href="/about">About</a></li>
          <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </header>
    {{block "content" .}}
        
    {{end}}

    <footer id="footer">
      <div class="container">
        <h3>Green</h3>
        <p>Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi placeat.</p>
        <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
        <div class="copyright">
          &copy; Copyright <strong><span>Green</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/green-free-one-page-bootstrap-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </footer><!-- End Footer -->
  
  
  
  
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
    <!-- Vendor JS Files -->
    <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/static/assets/vendor/php-email-form/validate.js"></script>
  
    <!-- Template Main JS File -->
    <script src="/static/assets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/datepicker-full.min.js"></script>
    <script src="https://unpkg.com/notie"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/assets/vendor/jquery/jquery-3.6.0.min.js"></script>
    <script src="/static/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="/static/assets/vendor/isotope/isotope.pkgd.min.js"></script>
    <script src="/static/assets/js/masonry-1.js"></script>

    {{block "js" .}}
    
    {{end}}
  
      <script>
      /* $(document).ready(function() {
          $('#phone').intlTelInput({
              separateDialCode: true,
              initialCountry: 'auto',
              geoIpLookup: function(success, failure) {
                  $.get("https://ipinfo.io", function() {}, "jsonp").always(function(resp) {
                      var countryCode = (resp && resp.country) ? resp.country : "";
                      success(countryCode);
                  });
              }
          });
      }); */
      let attention = Prompt()
      document.getElementById("btn_submit").addEventListener("click",function(){
        //notification("success")
        //notificationModel("error","<em>hello there</em>","success","Well done!")
          let formData = new FormData(document.getElementById("Upolad_Data"));
          let jsonData = {
            "file_name": "",
            "P_date": "",
            "country": "",
            "file_type": ""
          };
      
          formData.forEach((value, key) => {
              jsonData[key] = value;
          });
          //  these two line for checking the selected country and document type from the usersa 
          let countrySelect = document.getElementById("countrySelect");
          let selectedCountry = countrySelect.options[countrySelect.selectedIndex].text;
          jsonData["country"] = selectedCountry;

          let file_type = document.getElementById("file_type");
          let filed_type = file_type.options[file_type.selectedIndex].text;
          jsonData["file_type"] = filed_type;
          //Convert JSON object to string
          let jsonString = JSON.stringify(jsonData);
          
          // Example of using the jsonString
          console.log(jsonString);
       // attention.error({msg:"Hi, There!",title:"you're in the right place",footer:"Welcome"})
      })
    {{/* function notificationModel(title, text, icon,  confirmButtonText){
        Swal.fire({
              title: title,
              html: text,
              icon: icon,
              confirmButtonText: confirmButtonText
            })
      
      } */}}
    function Prompt(){
      let toast = function(c){
          const{
            msg= "",
            icon="success",
            position = "top-end"
          }=c;
                const Toast = Swal.mixin({
                  toast: true,
                  position: position,
                  title:msg,
                  icon:icon,
                  showConfirmButton: false,
                  timer: 3000,
                  timerProgressBar: true,
                  didOpen: (toast) => {
                    toast.onmouseenter = Swal.stopTimer;
                    toast.onmouseleave = Swal.resumeTimer;
                  }
                });
                  Toast.fire({});
         }
      let success = function(c){
      const{
        msg="",
        title="",
        footer="",
      }=c;
        Swal.fire({
            icon: "success",
            title: title,
            text:msg,
            footer: footer,
          });
      }
      
      let error = function(c){
          const{
            msg="",
            title="",
            footer="",
          }=c;
            Swal.fire({
                icon: "error",
                title: title,
                text:msg,
                footer: footer,
              });
          }
  
      return{
      toast:toast,
      success:success,
      error:error,
        }
    }
  </script>
  
  <script>
  (() => {
    'use strict'
  
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')
  
    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }
  
        form.classList.add('was-validated')
      }, false)
    })
  })()
  </script>
  <script>const elem = document.querySelector('input[name="P_date"]');
  const datepicker = new Datepicker(elem, {
    // ...options
  });</script>
    </body>
    </html>
{{end}}