{{template "base" .}}

{{define "content"}}
<section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Services</h2>
        <p>At Zanjabeels, we're dedicated to providing comprehensive solutions that empower farmers to thrive in today's dynamic agricultural landscape. Explore our featured services designed to optimize crop yield, conserve resources, and drive sustainable growth.</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-blue">
            <div class="icon">
              <img src="/static/assets/img/irrigation.png" alt="Custom Icon">
            </div>
            <h4><a href="">Smart Drip Irrigation Systems</a></h4>
            <p>Revolutionize your irrigation practices with our cutting-edge smart drip irrigation technology</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box iconbox-orange ">
            <div class="icon">
             <img src="/static/assets/img/smart-farm-monitoring.png" alt="Custom Icon">
            </div>
            <h4><a href="">Crop Monitoring and Management</a></h4>
            <p>Gain real-time insights into your crops' health and growth with our advanced monitoring and management solutions</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box iconbox-pink">
            <div class="icon">
             <img src="/static/assets/img/farm_controling.png" alt="Custom Icon">
            </div>
            <h4><a href="">Remote Monitoring and Control</a></h4>
            <p>Stay connected to your farm anytime, anywhere with our remote monitoring and control systems</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-yellow">
            <div class="icon">
             <img src="/static/assets/img/farmer_exp.png" alt="Custom Icon">
            </div>
            <h4><a href="">Customized Consultation and Support</a></h4>
            <p>Our team of experts is here to support you every step of the way</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box iconbox-red">
            <div class="icon">
             <img src="/static/assets/img/smart-farming.png" alt="Custom Icon">
            </div>
            <h4><a href="">Precision Farming Solutions</a></h4>
            <p>Harness the power of precision agriculture with our tailored solutions</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box iconbox-teal">
            <div class="icon">
             <img src="/static/assets/img/pest-control.png" alt="Custom Icon">
            </div>
            <h4><a href="">Integrated Pest Management Solutions</a></h4>
            <p>Combat pests and diseases effectively with our integrated pest management (IPM) solutions</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->
{{end}}



